html {
  font-size: 18px;
}

body {
  //background: url(../img/light_wool.png) repeat scroll;
  background: #EBEBEB repeat scroll;
  color: #404040;
  font-family: "Segoe UI", sans-serif;
  height: 100%;
  width: 100%;
  word-wrap: break-word;
  margin: 0;
}

a {
  text-decoration: none;
}

/*
ul {
  list-style: none outside none;
}
*/
.wrap, .logo, footer div {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0px;
}

.full {
  min-width: 100% !important;
  background: none;
}

header {
    height: 150px;
    background: url(../img/low_contrast_linen.png) repeat scroll;
}
.logo {
  cursor: pointer;
  height: 100%;
}
.logo:hover {
  color: #838383 !important;
}
.logo span {
  position: relative;
  top: 40px;
  left: 20px;
  font-size: 50px;
  color: #737373;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
  font-family: "Segoe UI",sans-serif;
}
.logo span:hover {
  color: inherit;
}
.task {
  margin: 20px 0px;
  position: relative;
  left: 50px;
}

.task-decrip {
  display: block;
  position: relative;
  top: 40px;
  margin: 0 auto;
  width: 450px;
  color: #333333;
  text-shadow: 0 1px 0 #FFFFFF;
  font-size: 15px;
  text-align: justify;
}
.content {
  position: relative;
  margin: 0 auto;
  height: 500px;
  border-bottom-color: #D1D1D1;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-top-color: #FAFAFA;
  border-top-style: solid;
  border-top-width: 1px;
}
.wrap {
  position: relative;
  height: inherit;
  width: inherit;
}
.tile {
  position: absolute;
  left: 120px;
  height: 110px;
  width: 220px;
  background: #F7F7F7;
}
.tile:hover {
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
}
#tile-alg {
  top: 125px;
}
#tile-theory {
  bottom: 125px;
}
.tile-header {
  position: absolute;
  top: 10px;
  margin: 0 0 0 10px;
  font-size: 18px;
  text-shadow: white 0px 1px 0px;
}
.slider-container {
  position: absolute;
  right: 120px;
  margin: 125px 0px 125px 0px;
  height: 250px;
  width: 500px;
}

#slider {
  height: 250px;
  width: 500px;
  margin: 0 auto;
  padding: 0;
}

#slider li {
    list-style: none outside none;
}
.slider-item {
  background: #F7F7F7;
  width: inherit;
  height: inherit;
  float: left;
  overflow: hidden;
}
.slider-item .btn {
  position: relative;
  right: 10px;
  top : 20px;
  float: right;
}
.task-header {
  font-size: 25px;
  position: relative;
  top: 20px;
  left: 20px;
}
.btn {
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  padding: 10px 5px 5px 10px;
  border: none;
  color: #ffffff; 
  background: #35AA47;
  font-family: "Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 14px;
  width: 70px;
}
.btn:hover, .btn:focus {
    background-color: #1D943B;
    background-image: -moz-linear-gradient(center top , #1D943B, #1D943B);
    background-repeat: repeat-x;
}
.btn:active {
    background-color: #35AA47;
    background-image: -moz-linear-gradient(center top , #35AA47, #1D943B);
    background-repeat: repeat-x;
}

.icon-rightward {
  background-image: url(../img/syncfusion-icons-white.png);
  background-position: -24px -7px;.
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  vertical-align: top;
  width: 20px;
  position: relative;
  top: -1px;
}

.task-content {
  //background: #fefefe no-repeat scroll;
  height: 600px;
  border-bottom-color: #D1D1D1;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-top-color: #FAFAFA;
  border-top-style: solid;
  border-top-width: 1px;
  box-shadow: 0 0 10px #FFFFFF
}

.task-name {
  width: 100px;
  height: 40px;
  position: relative;
  top: 30px;
  /*background: #EEEEEE;*/
  font-size: 25px;
  float: left;
  display: inline-block;
}

.task-alg {
  display: inline-block;
  width: 350px;
  height: 400px;
  position: relative;
  top: 80px;
  left: -100px;
  background: #F7F7F7;
  color: #333333;
  text-shadow: 0 1px 0 #FFFFFF;
  font-size: 20px;
}
.task-block {
  background: #F7F7F7;
  position: relative;
  top: 50px;
  float: right;
  height: 500px;
  width: 430px;
  overflow-y: scroll;
}

.task-block h2 {
  margin: 10px 0px 0px 10px;
}
.task-block div {
  /*position: absolute;
  top: 20px;
  left: 20px;*/
}
.task-block input {
  margin-right: 4px;
}
.task-block button {
  position: relative;
  top: 1px;
  margin-top: 4px;
  padding: 4px;
} 
.task {
  margin: 20px 0px;
  position: relative;
  left: 50px;
}

.task span {
  font-size: 14px;
  display: block;
  margin: 10px 0;
}
#task2 {
  display: none;
}

.result {
  margin-top: 10px;
}
.result span {
  height: auto;
}
footer {
  background-color: #F5F5F5;
  border-top: 1px solid #B0B0B0;
  margin: -47px 0 0; 
  height: 46px;
  opacity: 0.7;
  cursor: default;
  position: relative;
  font-size: 12px;
}
footer span {
  position: relative;
  left: 20px;
  top: 16px;
}
footer a {
  position: relative;
  left: 60px;
  top: 16px;
  color: #404040;
  word-wrap: break-word;
}